.card-header-padding {
	padding: 5px 0 5px 5px;
	font-size: 89%;
}
.card-body-padding {
	padding: 0;
}
#dataTable_wrapper {
	padding: 5px 5px 0 0;
}
.btnDelete {
	margin-top: 10px;
}
.btn {
	border-radius: 0;
}
.btn-image img {
	width: 130px;
	height: 100px;
}

label {
	font-weight: bold;
}